<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="footer" id="footerFragment">

    <div id="socialMediaBar">
        <a id="twitterLink" th:href="${socialLinks.twitter}" target="_blank">
            <img class="socialIcon" th:src="@{/img/social-twitter.png}" src="../../static/img/social-twitter.png"></a>
        <a id="githubLink" th:href="${socialLinks.github}" target="_blank">
            <img class="socialIcon" th:src="@{/img/social-github.png}" src="../../static/img/social-github.png"></a>
        <a id="xingLink" th:href="${socialLinks.xing}" target="_blank">
            <img class="socialIcon" th:src="@{/img/social-xing.png}" src="../../static/img/social-xing.png"></a>
    </div>
    <div id="copyright" th:text="'&copy; 2015-' + ${currentYear}">&copy; 2015-$CURRENT_YEAR</div>

</div>
</body>
</html>
