/* global */

/* https://www.w3schools.com/w3css/w3css_color_themes.asp | seed color: #4c6a92 */

body {
    background-color: #f7f9fc;
    font-family: "Verdana", "Arial", "Sans-serif", serif;
    font-size: 1em;
    color: #26364a;
    margin: 0 0 0 0;
}

a {
    color: #4c6a92;
    text-decoration: none;
}

a:link, a:visited {
    color: #4c6a92;
    text-decoration: none;
}

a:hover {
    color: #4c6a92;
    text-decoration: underline;
}

table {
    border: 1px solid #d9e1ec;
    background-color: #f4f6f9;
}

th {
    padding: 5px 5px 10px;
    text-decoration: underline;
}

td {
    padding: 5px 10px;
}

.section {
    margin-top: 3em;
}

.sectionHeader {
    margin-top: 1em;
    margin-bottom: 1em;
    font-size: 1.5em;
    font-weight: bold;
    text-align: center;
}

/* about.html */

#about {
    padding: 1em 10% 2em 10%;
    background-color: #d9e1ec;
    border-top: 1px solid #b4c3d8;
    border-bottom: 1px solid #b4c3d8;
}

/* games.html */

#games table {
    margin: auto;
}
