<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>SLU-IT</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="../static/css/style.css"
            th:href="@{/css/style.css}"
            rel="stylesheet" media="screen"/>
</head>
<body>

<div id="header" th:insert="fragments/header :: header"></div>

<div class="section" id="about" th:insert="fragments/about :: about"></div>

<div class="section" id="games" th:insert="fragments/games :: games"></div>

<div id="footer" th:insert="fragments/footer :: footer"></div>

</body>
</html>
